[submodule "solo-search"]
	path = solo-search
	url = git@github.com:DonorsChoose/chef-solo-search.git
[submodule "yum"]
	path = yum
	url = git@github.com:DonorsChoose/chef-yum.git
[submodule "user"]
	path = user
	url = git@github.com:DonorsChoose/chef-user.git
[submodule "sysctl"]
	path = sysctl
	url = git@github.com:DonorsChoose/chef-sysctl.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:DonorsChoose/chef-openssl.git
[submodule "database"]
	path = database
	url = git@github.com:DonorsChoose/chef-database.git
[submodule "postgresql"]
	path = postgresql
	url = git@github.com:DonorsChoose/chef-postgresql.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:DonorsChoose/chef-build-essential.git
[submodule "collectd"]
	path = collectd
	url = git@github.com:DonorsChoose/chef-collectd.git
[submodule "sudo"]
	path = sudo
	url = git@github.com:DonorsChoose/chef-sudo.git
